<nav class="nav">
    <div class="homeNavDiv">
        <a href="/"><span class="homeNav">Home</span></a>
    </div>
</nav>
<div class="container">
    <ul class="carList">
        {{#each cars}}
        <li class="carListItem">{{this.year}} {{this.brand}} {{this.model}}
            <div class="buttonsDiv">
                <form class="deleteForm" action="/api/delete/{{this._id}}/?_method=DELETE" method="POST">
                    <input class="deleteBtn" type="submit" value="X">
                </form>
                <form class="viewForm" action="/single/{{this._id}}" method="GET">
                    <input class="viewBtn" type="submit" placeholder="View" value="View">
                </form>
            </div>
        </li>
        {{/each}}
    </ul>
</div>