<h1>Cars</h1>
<ul>
    {{#each cars}}
    <li>
        {{this.year}} {{this.brand}} {{this.model}}
        <form action="/api/cars/delete/{{this.id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>
        <form action="/api/cars/{{this.brand}}" method="GET">
            <input type="submit" placeholder="View" value="View">
        </form>

    </li> 
    {{/each}}
</ul>
<form action="/api/cars" method="POST">
    <input name="year" placeholder="year" type="text">
    <input name="brand" placeholder="brand" type="text">
    <input name="model" placeholder="model" type="text">
    <input type="submit">
</form>
