<nav class="nav">
    <div class="homeNavDiv">
        <a href="/"><span class="homeNav">Home</span></a>
    </div>

    <div class="navLinks">
        <a href="/brand/{{car.brand}}"><span class="brandNav">All {{car.brand}}s</span></a>
    </div>

</nav>
<div class="container">
    <h1 class="singleHead">{{car.year}} {{car.brand}} {{car.model}}</h1>
    <h3 class="hp">{{car.hp}} horsepower</h3>
    <h3 class="tq">{{car.tq}} ft*lbs torque</h3>
    <h3 class="msrp">${{car.msrp}}</h3>
</div>